*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}


.active {
  background-color: black;
  .header {
    .logo-image {
      h1 {
        color: #ffffff;
      }
    }
    .user-area {
      .search-button {
        border-bottom: 1px solid #ffffff;
      }
      .icons {
        .icon {
          color: #ffffff;
        }
      }
    }
  }
  .cartList {
    .cart {
      box-shadow: 1px 3px 4px lightgray;
      color: #000;
      background-color: #ffffff;
      .image {
        border-bottom: 1px solid lightgray;
        padding-bottom: 5px;
        img {
        }
      }
    }
  }
}
