.product-details {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 40px;

  .details-left-side {
    width: 100%;
    height: 100%;
    img {
      width: 350px;
      height: 400px;
    }
  }
}
